body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg,#12e6c8,#a287f4);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center
}

.clock{
    width: 25vw;
    height: 25vw;
    background:url("images/clock.png");
    background-color: #fff;
    background-size: cover;
    border-radius: 50%;
    padding: 1.2rem;
    box-shadow:inset 0 0 1.2rem rgba(0,0,0,0.2),
               0 0 0 1.2rem #fff;
}

